#! /usr/bin/rmshebang haml

%html
	%head
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, maximum-scale=1")
		%script(src="/do/list.js")
		%link(rel="stylesheet" href="/do/list.sass.css")
		%link(rel="stylesheet" href="https://file.myfontastic.com/GHSMVL57gQF47PF2BGr9Gm/icons.css")
	%body
		#menu
			%button(onclick="window.location = \"/do/create.haml.html\"")
				%span.icon-add
				Create task
		- late_urgent_tasks = Array.new
		- late_important_tasks = Array.new
		- late_other_tasks = Array.new
		- today_urgent_tasks = Array.new
		- today_important_tasks = Array.new
		- today_other_tasks = Array.new
		- some_day_urgent_tasks = Array.new
		- some_day_important_tasks = Array.new
		- some_day_other_tasks = Array.new
		- next_days_urgent_tasks = Array.new
		- next_days_important_tasks = Array.new
		- next_days_other_tasks = Array.new
		- completed_tasks = Array.new
		- `echo 'keys do:task:*:title' | redis-cli`.split().each do |key|
			- id = key.split(":")[2]
			- if `echo 'get do:task:#{id}:completed' | redis-cli` == "\n"
				- if `echo 'get do:task:#{id}:date' | redis-cli` == "\n"
					- if `echo 'get do:task:#{id}:urgent' | redis-cli` == "on\n"
						- some_day_urgent_tasks.push id
					- else
						- if `echo 'get do:task:#{id}:important' | redis-cli` == "on\n"
							- some_day_important_tasks.push id
						- else
							- some_day_other_tasks.push id
				- else
					- if `echo 'get do:task:#{id}:date' | redis-cli` == Time.now.strftime("%Y/%m/%d\n")
						- if `echo 'get do:task:#{id}:urgent' | redis-cli` == "on\n"
							- today_urgent_tasks.push id
						- else
							- if `echo 'get do:task:#{id}:important' | redis-cli` == "on\n"
								- today_important_tasks.push id
							- else
								- today_other_tasks.push id
					- else
						- if Integer(`echo 'get do:task:#{id}:date' | redis-cli | xargs date '+%s' -d`) < Integer(`date '+%Y/%m/%d' | xargs date '+%s' -d`)
							- if `echo 'get do:task:#{id}:urgent' | redis-cli` == "on\n"
								- late_urgent_tasks.push id
							- else
								- if `echo 'get do:task:#{id}:important' | redis-cli` == "on\n"
									- late_important_tasks.push id
								- else
									- late_other_tasks.push id
						- else
							- if `echo 'get do:task:#{id}:urgent' | redis-cli` == "on\n"
								- next_days_urgent_tasks.push id
							- else
								- if `echo 'get do:task:#{id}:important' | redis-cli` == "on\n"
									- next_days_important_tasks.push id
								- else
									- next_days_other_tasks.push id
			- else
				- completed_tasks.push id
		%fieldset
			%legend Late
			- late_urgent_tasks.each do |id|
				.task
					%button.action(onclick="complete(this, '#{id}')")
						.icon-checkbox
					%button.title
						= `echo 'get do:task:#{id}:title' | redis-cli`
						- if `echo 'get do:task:#{id}:important' | redis-cli` == "on\n"
							.icon-important
						- if `echo 'get do:task:#{id}:urgent' | redis-cli` == "on\n"
							.icon-urgent
			- late_important_tasks.each do |id|
				.task
					%button.action(onclick="complete(this, '#{id}')")
						.icon-checkbox
					%button.title
						= `echo 'get do:task:#{id}:title' | redis-cli`
						- if `echo 'get do:task:#{id}:important' | redis-cli` == "on\n"
							.icon-important
						- if `echo 'get do:task:#{id}:urgent' | redis-cli` == "on\n"
							.icon-urgent
			- late_other_tasks.each do |id|
				.task
					%button.action(onclick="complete(this, '#{id}')")
						.icon-checkbox
					%button.title= `echo 'get do:task:#{id}:title' | redis-cli`
		%fieldset
			%legend Today
			- today_urgent_tasks.each do |id|
				.task
					%button.action(onclick="complete(this, '#{id}')")
						.icon-checkbox
					%button.title
						= `echo 'get do:task:#{id}:title' | redis-cli`
						- if `echo 'get do:task:#{id}:important' | redis-cli` == "on\n"
							.icon-important
						- if `echo 'get do:task:#{id}:urgent' | redis-cli` == "on\n"
							.icon-urgent
			- today_important_tasks.each do |id|
				.task
					%button.action(onclick="complete(this, '#{id}')")
						.icon-checkbox
					%button.title
						= `echo 'get do:task:#{id}:title' | redis-cli`
						- if `echo 'get do:task:#{id}:important' | redis-cli` == "on\n"
							.icon-important
						- if `echo 'get do:task:#{id}:urgent' | redis-cli` == "on\n"
							.icon-urgent
			- today_other_tasks.each do |id|
				.task
					%button.action(onclick="complete(this, '#{id}')")
						.icon-checkbox
					%button.title= `echo 'get do:task:#{id}:title' | redis-cli`
		%fieldset
			%legend Some day
			- some_day_urgent_tasks.each do |id|
				.task
					%button.action(onclick="complete(this, '#{id}')")
						.icon-checkbox
					%button.title
						= `echo 'get do:task:#{id}:title' | redis-cli`
						- if `echo 'get do:task:#{id}:important' | redis-cli` == "on\n"
							.icon-important
						- if `echo 'get do:task:#{id}:urgent' | redis-cli` == "on\n"
							.icon-urgent
			- some_day_important_tasks.each do |id|
				.task
					%button.action(onclick="complete(this, '#{id}')")
						.icon-checkbox
					%button.title
						= `echo 'get do:task:#{id}:title' | redis-cli`
						- if `echo 'get do:task:#{id}:important' | redis-cli` == "on\n"
							.icon-important
						- if `echo 'get do:task:#{id}:urgent' | redis-cli` == "on\n"
							.icon-urgent
			- some_day_other_tasks.each do |id|
				.task
					%button.action(onclick="complete(this, '#{id}')")
						.icon-checkbox
					%button.title= `echo 'get do:task:#{id}:title' | redis-cli`
		%fieldset
			%legend Next days
			- next_days_urgent_tasks.each do |id|
				.task
					%button.action(onclick="complete(this, '#{id}')")
						.icon-checkbox
					%button.title
						= `echo 'get do:task:#{id}:title' | redis-cli`
						- if `echo 'get do:task:#{id}:important' | redis-cli` == "on\n"
							.icon-important
						- if `echo 'get do:task:#{id}:urgent' | redis-cli` == "on\n"
							.icon-urgent
			- next_days_important_tasks.each do |id|
				.task
					%button.action(onclick="complete(this, '#{id}')")
						.icon-checkbox
					%button.title
						= `echo 'get do:task:#{id}:title' | redis-cli`
						- if `echo 'get do:task:#{id}:important' | redis-cli` == "on\n"
							.icon-important
						- if `echo 'get do:task:#{id}:urgent' | redis-cli` == "on\n"
							.icon-urgent
			- next_days_other_tasks.each do |id|
				.task
					%button.action(onclick="complete(this, '#{id}')")
						.icon-checkbox
					%button.title= `echo 'get do:task:#{id}:title' | redis-cli`
		%fieldset
			%legend Completed
			- completed_tasks.each do |id|
				.task
					%button.action(onclick="removeTask('#{id}')")
						.icon-trash
					%button.title= `echo 'get do:task:#{id}:title' | redis-cli`
